[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "HPLB"]
	path = HPLB
	url = https://github.com/lorismichel/hplb
[submodule "quantregForest"]
	path = quantregForest
	url = https://github.com/lorismichel/quantregforest
